@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* About page beautification */
body, .about-page {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

/* Title Styling */
.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  padding-bottom: 1rem;
}

/* Highlight link-containing paragraphs */
.highlight-text {
  background-color: #ffffcc;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Feedback Section */
.feedback-section h2 {
  font-size: 2rem;
}

.feedback-section p {
  font-size: 1.1rem;
}

/* "Made with" paragraph styling */
.made-with {
  font-size: 1.1rem;
  color: #999;
}

/* FAQ Section */
.faq-title {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.feedback-title {
  font-weight: bold;
}

.faq-item {
  margin-bottom: 0.5rem;
}

.question {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
}

.answer {
  font-size: 1.1rem;
  color: #555;
  padding: 1.5rem 15rem;
}

/* Highlight for "this form" link */
.highlight-link {
  color: #007bff; 
  font-weight: bold;
  text-decoration: underline;
}

.highlight-link:hover {
  color: #0056b3;
}

/* Additional spacing at the bottom of the page */
.page-end-spacing {
  margin-bottom: 50px;
}

/* Add padding at the bottom of the container */
.container {
  padding-bottom: 30px;
}

/* Optional: Adjust FAQ Section and Text if needed */
.faq-title, .question, .answer {
  margin-bottom: 5px;
}

.navbar {
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(255, 0, 0, 0.55);
  --bs-navbar-hover-color: rgba(255, 0, 0, 0.7);
  --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
  --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(255, 5, 5, 0.9);
  --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.navbar-brand {
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
  padding-left: 2rem;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: var(--bs-navbar-brand-hover-color);
}

.navbar-dark {
  --bs-navbar-color: rgb(255, 255, 255);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 0, 0, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: #7a0019;
}

/* Adjust spacing between sections */
.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 3rem;
}

strong {
  font-weight: bold;
  color: rgb(255, 204, 51);
}