@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html {
  padding: 0;
  margin: 0;
  height: 100%;
  overscroll-behavior: none;
  
}

body  {
    margin: 0;
    height: 100%;
    padding: 0;  
}

div#map
{
  top: 10%;
  height: 90%;
  width: 100%;
}

div#root {
    margin: 0vh;
    height: 100%;
}

#title-bar {
  display: flex;
  height: 10%;
  background-color: #7a0019;
  margin: 0vh;
  padding: 0vh;
  list-style: none;
  top: 0;
  position:fixed; /** prevents title bar from moving when sidebar is active */
  width: 100%;
  z-index:1001; /** makes sure that the titlebar stays on top */ 
}

div#title-bar > h1 
{
  text-align: center;
  font-size: 20px;
  margin-left: 7vh;
  font-family: 'Neutraface Text', sans-serif;
  padding: 0.75em;
  color: whitesmoke;
}

div#title-bar > h1 > .gopher {
  color: rgb(255, 204, 51);
}

div#title-bar > h1 > .X {
  display: inline-block;
  line-height: 1em;
  font-size: 24px;
  background: linear-gradient(to right, rgb(255, 204, 51) 50%, rgb(0, 83, 160) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div#title-bar > h1 > .city {
  color: rgb(0, 83, 160);
}

.tab-container {
  width: 100%;
  height: 10px;
  background-color: red;
}

/* The sidebar container */
.sidebar {
  height: 90%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 10%;
  left: 0;
  background-color: #f9f9f9;
  overflow-x: clip;
  padding-top: 0;
  transition: 0.5s;
  overflow-y: scroll;
  scrollbar-color:  black; /* only works for firefox */
  scrollbar-width: thin;
}

/* WebKit-based browsers (Chrome, Safari, Edge) sidebar scrollbar */
.sidebar::-webkit-scrollbar {
  width:  8px; 
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px; 
}

.sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* The sidebar container when it's open */
.sidebar.open {
  width: 290px;
}

.sidebar-content {
  width: 285px;
}

/* The sidebar links */
/* .sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #100202;
  display: block;
  font-family: 'Neutraface Text', sans-serif;
  transition: 0.3s;
  white-space: nowrap;
} */

/* When you mouse over the navigation links, change their color */
/* .sidebar a:hover {
  color: #a71010;
} */

/* * sidebar scrollbar */ 



.sidebar-content button {
  background-color: transparent;
  text-align: left;
  color: #160f0f;
  border: none;
  padding: 8px 8px 8px 32px;
  font-size: 17px;
  font-family: 'Neutraface Text', sans-serif;
  white-space: nowrap;
  width: 285px;
  display: block;
  transition: background-color 0.3s;
  position: relative;
}
  
/* Add these styles to darken the buttons on hover */
.sidebar-content button:hover {
  background-color: #d3d3d3; 
  color: #a71010;
}

.sidebar-content button.active {
  background-color: #9f9090; 
  color: #a71010;
}

.sidebar-content button::before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  background-color: transparent;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

/* Define colors for each route */
.sidebar-content button.route-121::before {
    background-color: #FF0000; /* Red */
}

.sidebar-content button.route-122::before {
    background-color: #800080; /* Purple */
}

.sidebar-content button.route-123::before {
    background-color: #1ab7b7; /* Cyan */
}

.sidebar-content button.route-124::before {
    background-color: #90EE90; /* Light Green */
}

.sidebar-content button.route-125::before {
  background-color: #c727e2; /* Light Green */
}

.sidebar-content button.route-120::before {
    background-color: #FFC0CB; /* Pink */
}

.sidebar-content button.route-2::before {
    background-color: #bab832; /* Color for route "2" */
}

.sidebar-content button.route-3::before {
    background-color: #d18528; /* Color for route "3" */
}

.sidebar-content button.route-6::before {
    background-color: #236918; /* Color for route "6" */
}

.sidebar-content button.route-902::before {
  background-color: #00843D; /* Color for route "902" */
}

.sidebar-content button.route-901::before {
  background-color: #003DA5; /* Color for route "901" */
}
  
  /* The button used to open the sidebar */
  .openbtn {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
  }
.PageButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 5%;
    padding-top: 0.75em;
    padding-left: 1.5em;
    padding-right: 1em;
    padding-bottom: 1em;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

  .openbtn:hover {
    background-color: transparent;
  }

  /* Styling for the "Select Routes" header */
.nav-header {
  text-align: center;
  margin-top: 1px;
  margin-bottom: 5px;
  width: 285px;
}

.nav-header h3 {
  color: black;
  font-family: 'Neutraface Text', sans-serif;
  white-space: nowrap;
}

.underline {
  width: 200px;
  height: 2px;
  background-color: rgb(30, 53, 53);
  margin: 0 auto;
}



  /* Styling for LoadingScreen.tsx */
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotate-wheel {
    animation: rotate 0.5s linear infinite;
  }




/* styling for sidebar search feature */

div#search_bar{
  text-align: center;
  font-size: 20px;
  margin-left: 7vh;
  font-family: 'Neutraface Text', sans-serif;
  color: whitesmoke;
}


#search_route{
  display: inline-block;
  vertical-align: top;
}

.searchContainer {
 display: flex;
 margin-right: 10px;
 float:center;
 position: relative;
 width: 250px;
}

.searchContainer input {
border: 2px solid;
border-radius: 100px;
padding: 1rem 2rem;
max-height:100%;
height: 8px;
width: 100%;
text-align: center;
margin: 0 auto;
margin-left: 30px;
background-color: rgb(226, 226, 226);

}
.searchContainer button {
position:absolute;
border-radius: 100%;
max-height: 100%;
border: 2px solid;
width: 40px;
right: 0;
padding: 1px 3px;
}


#searchButton:hover{
  background-color: darkgrey;
}

#searchButton:active{
  background-color:rgb(226, 226, 226);
  box-shadow: 0 5px rgb(226, 226, 226);
  transform: translateY(1px);
}

#error_text{
  color: red;
  text-align: center;
  font-weight: bold; 
}

.AboutButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  padding-top: 0.75em;
  padding-left: 1.5em;
  padding-right: 1em;
  padding-bottom: 1em;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.inactive-route-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid red;
  padding: 10px;
  z-index: 10;
}

.close-button {
  float: right;
  cursor: pointer;
  border: none;
  padding-right: 10px;
}